@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(30 41 59);
}

main {
  background: linear-gradient(90deg, #002c59 0%, #004d9e 100%);
}

select {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: darkblue;
  padding-left: 6px;
}
